@charset "utf-8";

body{
  background-color: #300c20;
display: flex;
align-items: center;
justify-content: center;
padding-top:50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clock{
width:300px;
height:300px;
background-color: #272727;
border-radius:20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.btns{
    width:250px;
    height:20px;
    border-radius:20px;
    position: absolute;
    top:250px;
    background-color:#ffffff;
    display: flex;
    gap:20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnsc{
    width:250px;
    height:20px;
    border-radius:100px;
    background-color:#ffffff;
}

.btn{
    font-size:20px;
    width:40px;
    height:40px;
    border-radius: 50px;
    border:none;
    transition: .2s;
}

.btn:hover{
 transform:scale(1.2);
}

.display{
    padding-bottom:30px;
    font-size:35px;
display: flex;
justify-content:center;
align-items: center;
width:250px;
height:150px;
border-radius:20px;
background-color:#ffffff;
}

.reforce{
    box-shadow: 10px 5px 10px 1px black;
    width:100px;
    height:9px;
    background-color: #272727;
    position: absolute;
    top:80px;
    transition:5s;
}

.reforce:hover{
     transform:scale(1.7);
}
